
  <div class="wrapper">

    <div class="header text">
      <div class="contact-user">
        <div *ngIf="currentChat.author">
          <img class="avatar-sm" src="{{currentChat.author.avatar}}" alt="ava">
          <span>{{currentChat.author.displayName}}</span>
        </div>
      </div>
      <div class="logout">
        <button class="btn btn-outline-primary" (click)="logout()">LogOut</button>
      </div>
    </div>

    <div class="sidebar text">
      <div class="top">
        <div class="user-container">
          <div class="user-container" *ngIf="authService.currentUser$ | async as data">
            <img class="avatar-sm" src="{{data.photoURL}}" alt="ava">
            <div class="username">
              <span>{{data.displayName}}</span>
            </div>
          </div>
        </div>
        <div>
          <input type="text" class="form-control lg"  placeholder="search" [(ngModel)]="name">
        </div>
      </div>

      <div class="bottom" *ngIf="(chats | filter: name) as result">
        <div *ngFor="let chat of result">
          <div
            class="author" type="button"
            (click)="onChange(chat)"
            [ngClass]="chat.id === currentChat.id ? 'click' : 'author'"
            *ngFor="let mes of chat.messages | slice: -1">
            <div class="name-avatar">
            <img class="avatar-sm" src="{{chat.author.avatar}}" alt="ava">
            {{chat.author.displayName}}
            </div>
            <div class="last-message">
              <div class="message-content">{{mes.value}}</div>
              <div class="message-content">{{mes.date | date: 'M/d/yy h:mm a'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main text" *ngIf="currentChat.id">
      <div class="cont" #scrollMe>
        <div class="message">
          <app-chat [chat]="currentChat"></app-chat>
        </div>
      </div>
    </div>

    <div class="footer text" *ngIf="currentChat.id">
      <form [formGroup]="form">
        <div class="footer-content">
          <input
            class="form-control message-container"
            placeholder="write message"
            formControlName="message"
            (keydown.enter)="submitBtn.click()">
          <div>
          <button #submitBtn type="submit" class="btn btn-outline-primary" [disabled]="form.invalid" (click)="onSubmit()">
            <i class="fa fa-paper-plane-o fa-lg" aria-hidden="true"></i></button>
          </div>
        </div>
      </form>
    </div>

  </div>
