@import 'src/styles/variables'

@media ( min-width: 850px )
  .wrapper
    display: grid
    grid-gap: 2px
    grid-template-columns: repeat(10, 1fr)
    grid-auto-rows: minmax(100px, auto)
    grid-template-areas: "sd sd sd sd hd hd hd hd hd hd" "sd sd sd sd main main main main main main" "sd sd sd sd ft ft ft ft ft ft"
    overflow-wrap: break-word
    background-color: $background-panel-color-light
    height: calc(100vh - 10px)

@media screen and ( max-width: 850px )
  .wrapper
    background-color: $background-panel-color-light
    .main
      height: 100vh

.header
  grid-area: hd
  border: 0.1rem solid $primary
  border-radius: $border-radius
  height: 6rem
  img
    margin-right: 4px
  .logout
    position: absolute
    top: 1.9rem
    right: 2rem

.footer
  grid-area: ft
  border: 0.1rem solid $primary
  border-radius: $border-radius
  padding: 1.5rem
  .footer-content
    display: flex
    justify-content: space-around
    align-items: center
  .message-container
    min-height: 58px
    width: 900px
    margin-right: 10px
  button
    border: none

.main
  grid-area: main
  border: 0.1rem solid $primary
  border-radius: $border-radius
  padding: 1.5rem
  .cont
    border: 0.1rem solid $secondary
    border-radius: $border-radius
    height: 100%
    background-color: $background-panel-color
    padding: 2rem
    overflow-y: scroll
    overflow-wrap: anywhere

.sidebar
  grid-area: sd
  border: 0.1rem solid $primary
  border-radius: $border-radius
  padding: 1.5rem
  .top
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 1rem
    border: 0.1rem solid $secondary
    border-radius: $border-radius
    input
      width: 15rem
  .bottom
    margin-top: 1rem
    padding: 1rem
    border: 0.1rem solid $secondary
    border-radius: $border-radius
    background-color: $background-panel-color
    height: calc(100vh - 16rem)
    overflow-y: auto
    .author
      display: flex
      justify-content: space-between
      align-items: center
      padding: 0.5rem
      margin: 0.5rem
      background-color: $background-panel-color-light
      cursor: pointer
      border-radius: $border-radius
      .name-avatar
        display: flex
        justify-content: flex-start
        align-items: center
        margin-right: 0.2rem
        img
          margin-right: 0.2rem
      .last-message
        display: flex
        flex-direction: column
        font-size: $font-size-sm
        overflow: hidden
        .message-content
          justify-items: center
          width: 15rem
          text-overflow: ellipsis
          overflow: hidden
          white-space: nowrap
      &:hover
        background-color: $primary
        color: $background-panel-color

    .click
      background-color: $primary
      color: $background-panel-color

.user-container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-around
  padding: 0.5rem
  font-size: $font-size-lg

.contact-user
  display: flex
  justify-content: flex-start
  align-items: center
  padding: 1.6rem
  font-size: $font-size-lg
