@import '~src/styles/variables'

.wrapper
  min-height: 100vh
  background-color: $background-color
  color: $base-text-color
  font-size: $font-size-base
  display: flex
  flex-direction: column

.auth-title
  font-size: $font-size-lg
  padding: 0 0 10px 0

.auth-wrapper
  max-width: 280px
  margin: auto

button
  width: 100%

.ctn
  background-color: $background-panel-color
  display: flex
  align-items: center
  justify-content: space-between
  margin: 5px 0

  .btn-logo
    max-width: 20px

  .btn-text
    flex-grow: 1

.logo
  max-width: 200px


