
<div class="wrapper">
  <header class="header-footer"></header>

  <div class="auth-wrapper">
    <img class="logo" src="./assets/images/Font_Awesome_5_brands_angular.svg" alt="logo">
    <h4 class="pb-4">Login for Chuck Norris messenger</h4>
    <button type="button" class="btn btn-primary ctn" (click)="withGoogle()">
      <img src="assets/images/google.png" alt="google" class="btn-logo">
      <div class="btn-text">Continue with Google</div>
    </button>
  </div>

  <footer class="header-footer"></footer>

</div>
